*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-image: url('/public/images/Sky-night-rotation-space-background.jpg');
}

header{
  display: flex;
  justify-content: space-between;
  padding: 20px 140px 20px 200px;
  background-color: rgb(0, 0, 0);
  border-bottom: 1px solid blue;
}


li, a{
  font-weight: 500;
  font-size: 22px;
  color: rgb(6, 139, 255);
  text-decoration: none;

}
ul {
  list-style: none; 
}



.img-logo{
  cursor: pointer;
  width: 150px;
  order: 1;
}

.search-form-desktop {
  display: inherit;
  order: 2;
}


.search-bar  {
  display: flex;
  align-items: center;
  justify-content: space-between;
 width: 350px;
}

.search-bar input{
  border: 1px solid white;
  border-radius: 50px;
  flex-grow: 1;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.932);
  padding: 5px 10px;
  margin: 0 10px;
  color: black;
}

.search-bar input:focus {
  outline: none;
} 

.search-bar input::placeholder {
  color: #070707af;
}

.search-bar button {
  border: none;
  background-color: white;
  position: relative;
  left: -33px;
}


.nav__links{
  order:3; 
  margin: auto 0;
}


.nav__links li{
  display: inline-block;
  padding: 0 50px;
}



